﻿@model Bengkel_1.ViewModel.StudentEmployee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <span class="text-primary">@ViewBag.Message</span>
        </div>
        <h4>StudentEmployee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <div>
            <div>
                <span class="modal-title">ini Employee Model</span>
                @Html.HiddenFor(x => x.Employee.ID)
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">First Name</span>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Employee.FName)
                    @Html.ValidationMessageFor(x => x.Employee.FName)
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">Last Name</span>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Employee.LName)
                    @Html.ValidationMessageFor(x => x.Employee.LName)
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">Email</span>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Employee.Email)
                    @Html.ValidationMessageFor(x => x.Employee.Email)
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">Phone No</span>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Employee.PhoneNo)
                    @Html.ValidationMessageFor(x => x.Employee.PhoneNo)
                </div>
            </div>
        </div>
        <hr />
        <div>
            <span class="modal-title">Ini Student punya Model</span>
        </div>
        <div>
            @Html.HiddenFor(x => x.Student.ID)
            <div class="form-group">
                <span class="control-label col-md-2">First Name</span>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Student.FName)
                    @Html.ValidationMessageFor(x => x.Student.FName)
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2">Last Name</span>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Student.LName)
                    @Html.ValidationMessageFor(x => x.Student.LName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
